<div class="contenedor-principal">
  <form class="formulario">
    <h2 class="titulo">CONTACTO</h2>
    <div class="contenedor-formulario">

        <div class="items-formulario">
          <input class="inputForm" type="text" name="Nombre" placeholder="Ingrese su nombre" />
        </div>
        <div class="items-formulario">
          <input class="inputForm" type="text" name="Email" placeholder="Ingrese su email" />
        </div>
        <div class="item-formulario">
          <textarea
            name="Mensaje"
            id=""
            cols="30"
            rows="10"
            placeholder="Ingrese su pedido"
          ></textarea>
        </div>
       
        <div class="item-formulario">
          <input class="boton" type="button" value="ENVIAR" routerLink="#"/>
        </div>
          
    </div>
    
  </form>
</div>
