<nav class="navbar navbar-expand-lg navbar-Color">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img
        class="imagen rounded-circle border border-dark border-1"
        width="20"
        heigth="30"
        src="https://w7.pngwing.com/pngs/614/165/png-transparent-ghibli-museum-studio-ghibli-kaonashi-no-face-art-studio-ghibli-monochrome-my-neighbor-totoro-black.png"
      />
    </a>

    <button
      class="navbar-toggler btn-outline-dark"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
     
      
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg></button>
    <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/producto">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/acercaDe">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/contacto">Contacto</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>
