<!--------------------------
 
<div class="container-fluid overflow-auto " >


    <div class="row  ">
      <div class="col espacioEntreCard">
        <div class="row">
          <div class="card margin-bottom" style="width: 18rem">
            <img
              src="https://images.cults3d.com/zyVC4265diQQ9gx2iTbKQtedTuA=/516x516/https://files.cults3d.com/uploaders/14388486/illustration-file/7acfb94e-2201-4f5f-aa51-64198f21adfb/Pikachu_1.png#2"
              class="card-img-top rounded-circle"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Pikachu</h5>
              <p class="card-text">
                Figura de Pikachu 3D
              </p>
              <a href="#" class="btn btn-primary ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                Agregar </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col espacioEntreCard">
        <div class="row">
          <div class="card " style="width: 18rem">
           
            <img
              src="https://images.cults3d.com/Nm87sRKUn88YQfsYqGaIlM1AtB8=/516x516/filters:format(webp)/https://files.cults3d.com/uploaders/14388486/illustration-file/82a10630-f5c4-4f7f-8478-28ee09f08af8/Bulbasaur_0.jpg"
              class="card-img-top rounded-circle"
              alt="..."
            
            />
            <div class="card-body">
              <h5 class="card-title">Bulbasaur</h5>
              <p class="card-text">
                Figura de Bulbasaur 3D
              </p>
              <a href="#" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              Agregar </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col espacioEntreCard">
        <div class="row">
          <div class="card" style="width: 18rem">
            <img
              src="https://images.cults3d.com/Xk0l_2egPok57T8-zl2ablrd7Qs=/516x516/filters:format(webp)/https://files.cults3d.com/uploaders/14388486/illustration-file/1d0c7d7e-ec38-4a6e-bf81-2ca8a3d35bb9/Charmander_2.png"
              class="card-img-top rounded-circle"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Charmander</h5>
              <p class="card-text">
                Figura de Charmander 3D
              </p>
              <a href="#" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              Agregar </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col espacioEntreCard">
        <div class="row ">
          <div class="card" style="width: 18rem">
            <img
              src="https://images.cults3d.com/wC-IGQ-FZA2JOqzgsFG_Cc8snZs=/516x516/filters:format(webp)/https://files.cults3d.com/uploaders/14388486/illustration-file/41174528-7889-441a-9064-fff36c6483c8/Squirtle_2.jpg"
              class="card-img-top rounded-circle"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Squirtle</h5>
              <p class="card-text">
                Figura de Squirtle 3D
              </p>
              <a href="#" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              Agregar </a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    


     
</div>
 -------------------------------------->
 <div class="container-fluid overflow-auto " >

<div class="row pt-3">
  <div class="col-md-3 col-sm-6 col-lg-4" *ngFor="let producto of productos">
    <div class="card" *ngIf="producto.disponibilidad">
      <!-- property binding -->
      <img [src]="producto.url" class="card-img-bottom" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        
  </div>

</div>


 </div>