<div class="contenedor-principal overflow-visible">
  <div class="contenedor">
    <div class="contenedorTitulo">
      <h1 class="titulo">Modella3</h1>
    </div>
    <div class="elem-internos">
      <p>
        Somos una empresa que brinda servicios de impresiones 3D con años de
        trayectoria en el mercado de las figuras de anime.
      </p>
      <button type="button" class="btn btn-dark btn-lg">Contactar</button>
    </div>
  </div>
</div>
<!--
  <div class="contenedorTitulo">
    <div class="position-absolute top-50 start-50">
      <h1 class="estiloTitulo">Modella3</h1>
    </div>
    <div class="col position-absolute bottom-0 start-0">
      
        Somos una empresa que brinda servicios de impresiones 3D con años de
        trayectoria en el mercado de las figuras de anime
     
    </div>
  </div>

  <div class="position-absolute bottom-0 start-50 translate-middle-x">
    <footer>derechos reservados agustin mellado xD</footer>
  </div>
-->
